.card-head-pic {
  height: 300px;
  background-size: cover;
  background-position: 50% 14%;
}

.card-title {

}

.card-content {

}

.card {
  background-color: #2B2B2B90;
  margin: 2%;
  position: relative;
  border-radius: 5px;
  z-index: 1;
}

.card-head{
  padding: 20px;
  background-color: #2B2B2B90;
  margin: 5% 2%;
  position: relative;
  border-radius: 5px;
  z-index: 1;
}
